<app-shared-card>
  <h2 class="text-muted text-center">Add New Product</h2>
  <form  [formGroup]="productForm" (ngSubmit)="productHandler($event)">
   <div class="mb-3">
      <label for="id" class="form-label">Product ID</label>
      <input
        type="text"
        formControlName="id"
        class="form-control"
        placeholder="Enter Product ID"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product Name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Product Name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Product Price</label
      >
      <input
        placeholder="Enter Product Price"
        type="text"
        formControlName="price"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword3" class="form-label"
        >Product Quantity</label
      >
      <input
        placeholder="Enter Product Quantity"
        type="text"
        formControlName="quantity"
        class="form-control"
        id="exampleInputPassword3"
      />
    </div>

    <button type="submit" class="btn btn-dark">Add New Product</button>
  </form>
</app-shared-card>
